@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .skeleton-bg {
    @apply rounded-md bg-gray-100 bg-opacity-50;
  }
  .skeleton-img {
    @apply  text-gray-600;
  }
  
  
}

@layer base{
  .ProseMirror  {
  height: 100%;
  width: 100%;
  }
  .ProseMirror:focus {
  height: 100%;
  width: 100%;
  cursor: text;
  outline: none;
  display: block;
  }
  .ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.25rem; /* Tailwind's pl-5 */
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}


.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.ProseMirror a {
  color: #3b82f6;
  text-decoration: underline;
}
.ProseMirror h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 34px;
}
.ProseMirror h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

}